folder_model_lvl_1/
logs/
results/

EFREI - LIPSTIP - 50k elements EPO balanced test.csv
EFREI - LIPSTIP - 50k elements EPO.csv
EFREI - LIPSTIP - 50k elements EPO balanced.csv
EFREI - LIPSTIP - 50k elements EPO balanced train.csv
